{% extends 'base.html' %}

{% block content %}
<h1> <a href="/teams/{{team.id}}">{{team.name}}</a> </h1>
<h2>League : <a href="/leagues/{{league.id}}">{{league.name}}</a></h2>

<a href="/games/teams/{{team.id}}">Show Team's Games</a>
<a href="/teams/{{team.id}}/edit">Edit Team</a>

<form action="/teams/{{ team.id }}/delete" method="POST">
    <input type="submit" value="delete"/>
  </form>
<!-- <a href="/teams/{{team.id}}/delete">Delete Team</a> -->
<!-- <h3>Monsters</h3> -->
<!-- <ul>
    {% for monster in team.monsters %}
    <li>{{monster.name}}</li>    
    {% endfor %}
    
</ul> -->

{% endblock %}