:root
{
  --mid_green: #04AA6D;
}
html
{
  background:	#d1f1fd;
  font-family: 'Sigmar One', cursive;
}
 
a{
   text-decoration: none;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h2 a{
text-decoration: none;
  text-align: center;
  color: indianred;
}
.nav_bar{
  
  display: flex;
  background-size: 50%;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--mid_green);
  margin-left: 10%;
  margin-right: 10%;
}

.nav_bar_li {
  float: left;
}

.nav_bar_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar_li a:hover:not(.active) {
  background-color: #111;
}

.nav_bar_.active {
  background-color: var(--mid_green);
}

footer{
  padding-top: 20px;
 display: flex;
 justify-content: center; 
 column-gap: 1%;
 
}
footer a{
  color: var(--mid_green);
  line-height:1.15; padding: 20px; border: 5px solid var(--mid_green); ;height: 100%;font-size: 100%;      
  border-top-left-radius: 48px 40px;
  border-top-right-radius: 23px 30px;
  border-bottom-left-radius: 10px 19px;
  border-bottom-right-radius: 12px 24px;
}
.enter
{
  text-decoration: none;
  text-align: center;    
  justify-content: center;   ;
}
.enter a{
  color: #04AA6D;
}

.main_title{
    font-size: 100px;
    text-align: center;    
    justify-content: center; 
    color: orange;
    text-shadow:black 0px 0px 5px;
}

.edit_container{
  display: flex;
  justify-content: center;
}

.edit_list
{  
  list-style: none;
  padding: 10px;
}
.edit_list li
{  
  padding: 10px;
  text-align: center;
}

.edit_list li:first-child
{
  background-color: seashell;
}

#edit_accept
{
  background-color:var(--mid_green)
}
#edit_delete
{
  background-color: indianred;
}
.game_form
{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: indianred;
  padding: 20px;
  row-gap: 20px;
}
.next_team
{
  display: flex;
  justify-content: center;
  background-color: var(--mid_green)
}
.centred_container
{
  padding: 20px;
  display: flex;
  justify-content: center;
}

#outcome_1{

  text-align: center;    
  justify-content: center;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

#outcome_2{

  text-align: center;    
  justify-content: center;     
  animation: 2s ease 0s normal forwards 1 fadein;
}
#outcome_winner{
  font-size: 100px;
  text-align: center;    
  justify-content: center; 
  opacity: 0;
  animation: 1s ease 3s normal forwards fadein ;
  color: orange;
  text-shadow: #000 0px 0px 2px;
}

#outcome_footer{
  opacity: 0;
  animation: 1s ease 5s normal forwards fadein ;
  
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}