
.table {
    font-family: 'Sigmar One', cursive;
    /* border-collapse: collapse; */
    width: 50%;
    margin:auto;
    justify-content: center;
    padding-top:1em;
    border-spacing: 1em;

  }
  .table tr th a{
    color: indianred;
  }
  .table tr td a
  {
    color: green;
  }

  .table tfoot tr td a
  {
    color: hotpink;
  }
  .table th{
    
    font-size: 3em;
    padding: .5em;
    padding-top: 1em;
    
    text-align: center;
    /* background-color: lightblue; */
    color: #04AA6D;
    border: 5px solid #04AA6D;
    /* border-radius: 10px; */
    border-width: 10px;
    border-top-left-radius: 138px 100px;
    border-top-right-radius: 75px 200px;
    border-bottom-left-radius: 56px 87px;
    border-bottom-right-radius: 108px 65px;
    outline: 5px solid green;
  }

  .table_body
  {
    font-size: 1em;    
    border: 5px solid grey;
    padding: 20px;
    text-align: center;
    border-width: 5px;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  }
 
   .table tr:nth-child(even){
     background-color: #f2f2f2;
    
    } 
   .table tr:nth-child(odd){
    } 
  
  .table tr:hover {
    background-color: #ddd;
  }


  .table_foot
  {
    border: 5px solid green;
    padding: 20px;
    text-align: center;
    border-width: 5px;
    text-align: center;
    background-color: #04AA6D;
    color: white;

    border-top-left-radius: 50px 60px;
    border-top-right-radius: 80px 100px;
    border-bottom-left-radius: 76px 84px;
    border-bottom-right-radius: 75px 64px;

  }
  .table_foot a{
    color: white;
  }

  .table_empty{
    line-height: 0px;
    padding: 0px;
    border: 0px solid #ddd;
    height: 0%;
    font-size: 0%;
  }

  .table_cell_open{
    line-height: 0px;
    padding: 0%;
    border-width: 0px ;
    height: 0%;
    font-size: 0%;
    text-align: center;
    animation: .5s ease 0s normal forwards fadein ; 

    
    /* border: 5px solid grey; */
    /* padding: 20px; */
    /* text-align: center; */
    /* border-width: 5px; */
  
  }

  @keyframes fadein{
    0% 
    { 
      
    }
    66% 
    { 
      /* line-height:0; padding: 0px;border: 0px solid #ddd;height: 0%;font-size: 0%;*/
    }
    100% 
    { 
      line-height:1.15; padding: 20px; border: 5px solid grey; ;height: 100%;font-size: 100%;      
      border-top-left-radius: 37px 140px;
      border-top-right-radius: 23px 130px;
      border-bottom-left-radius: 110px 19px;
      border-bottom-right-radius: 120px 24px;
      
    }
}

input {
  padding: 0%;
  border: none;
  text-align: center;
  background-color:transparent;
  color: black;
  
}
textarea:focus, input:focus{
  outline: none;
}

.table_winner{
  
   background-color:lightgreen; 
  font-size: 1em;    
  border: 5px solid grey;
  padding: 20px;
  text-align: center;
  border-width: 5px;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  /* display: block; */
  /* background-color:green; */
}
.table_loser{
  background-color:red; 
  font-size: 1em;    
  border: 5px solid grey;
  padding: 20px;
  text-align: center;
  border-width: 5px;
  border-top-left-radius: px 100px;
  border-top-right-radius: 45px 950px;
  border-bottom-left-radius: 50px 120px;
  border-bottom-right-radius: 56px 24px;

}

.vs
{
  /* font-size: 1em;
    background-color: none !important;
  border:none; */
  padding: 20px;
  text-align: center;
  
}

.card_title{
  width: 95%;
  margin: auto;    
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}  