:root
{
  --mid_green: #04AA6D;
}

.table 
{
  font-family: 'Sigmar One', cursive;
  width: 50%;
  margin:auto;
  justify-content: center;
  padding-top:1em;
  border-spacing: 1em;
}

.table_games 
{
  font-family: 'Sigmar One', cursive;
  width: 80%;
  margin:auto;
  justify-content: center;
  padding-top:1em;
  font-size: small;

}
.table tr th a
{
  color: indianred;
  text-shadow:black 0px 0px 1px;
}

@keyframes pulsate {
  50%{ stroke-width:5px }
}

.table tr td a
{
  color: var(--mid_green);
}

.table tfoot tr td a
{
  color: black;
}
.table th{
  
  font-size: 3em;
  padding: .5em;
  padding-top: 1em;
  padding-bottom: 1em;  
  text-align: center;
  color: #04AA6D;
  border: 5px solid var(--mid_green);
  border-width: 10px;
  border-top-left-radius: 138px 100px;
  border-top-right-radius: 75px 200px;
  border-bottom-left-radius: 56px 87px;
  border-bottom-right-radius: 108px 65px;
  outline: 5px solid var(--mid_green)
}

.table_body
{
  font-size: 1em;    
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
  border-width: 5px;
  border: none;
}

.table tr:nth-child(even){


} 
.table tr:nth-child(odd){
  background-color: #f2f2f2;
} 

footer a:hover {
   background-color:coral;
}


.table_foot
{
  border: 5px solid var(--mid_green);
  padding: 20px;
  text-align: center;
  border-width: 5px;
  text-align: center;
  background-color: var(--mid_green);
  color: white;

  border-top-left-radius: 50px 60px;
  border-top-right-radius: 80px 100px;
  border-bottom-left-radius: 76px 84px;
  border-bottom-right-radius: 75px 64px;

}
.table_foot a{
  color: white;
}

.table_empty{
  line-height: 0px;
  padding: 0px;
  border: 0px solid #ddd;
  height: 0%;
  font-size: 0%;
}

.table_cell_open{
  line-height: 0px;
  padding: 0%;
  border-width: 0px ;
  height: 0%;
  font-size: 0%;
  text-align: center;
  animation: .5s ease 0s normal forwards cell_open;
}

@keyframes cell_open
{
  0% 
  { 
    
  }
  66% 
  { 
    
  }
  100% 
  { 
    line-height:1.15; padding: 20px; border: 5px dashed black; ;height: 100%;font-size: 100%; 
    
  }
}

input {
  padding: 0%;
  border: none;
  text-align: center;
  background-color:transparent;
  color: black;
  
}
textarea:focus, input:focus
{
  outline: none;
}

.table_winner
{
   background-color:var(--mid_green); 
  font-size: 1em;    
  border: solid 5px darkgreen;
  padding: 20px;
  text-align: center;
}
.table_winner a{
  color: #f2f2f2;
}
.table_loser{
  background-color:indianred; 
  font-size: 1em;    
  border: solid 5px darkred;
  padding: 20px;
  text-align: center;
}

.table_loser a {
  color: #f2f2f2;
}
.vs
{  padding: 20px;
  text-align: center;  
}

