:root
{
  --mid_green: #04AA6D;
}
.monster_title
{
    background-color: mid;
    text-align: center;
    font-size: 2em;
}
#card_title_text{
    color: black
}
.monster_card
{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    background-color: white;
    margin: auto;    
}

.card
{
    display: flex;
    flex-direction: column;
    
}

#monster_table{
    display: flex;
    column-gap: 15px;    
}

.card_title{
    width: 100%;
    margin: auto;    
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--mid_green);
    color: white;
  }  

  .card_title a{
    color: indianred;
  }
  .card tbody tr td {
      font-size: small;
      padding: 20px;
  }