.monster_container
{
    background-color: indianred;
    display: flex;
    flex-wrap: wrap;
    /* margin: $plan-margin; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
        
}

.monster {
    background: white;
    width: 20em;
    box-sizing: border-box;
    text-align: center;
    /* margin: $plan-margin; */
    /* margin-bottom: $plan-margin; */
   
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
  
 .card {
    flex: 0 1 calc(25% - 1em);
    background-color: indianred;
}