{% extends 'base.html' %}

{% block content %}
<h2> <a href="/leagues/{{league.id}}">{{league.name}}</a></h2>
<h2> <a href="/teams/{{team.id}}">{{team.name}}</a> </h2>
<h2> <a href="/monsters/{{monster.id}}">{{monster.name}}</a> </h2>


<section class="table" id="monster_table">  
  <article class="card">
    <table>
      <div class ="card_title">
        <a href="/monsters/{{monster.id}}"> {{monster.name}}</a></div>
        <tr>
          <td>Limbs</td>
          <td>{{monster.limbs}}</td>
        </tr>   <tr>
          <td>Favourite Weather</td>
          <td>{{monster.fav_weather}}</td>
        </tr>   
        <tr>
          <td></td>
          <td></td>
        </tr>  
        
      </div>
    </table>   
    
  </article>
  
</section>



{% endblock %}