{% extends 'base.html' %}

{% block content %}
<h2> <a href="/leagues/{{league.id}}">{{league.name}}</a></h2>
<h2> <a href="/teams/{{team.id}}">{{team.name}}</a> </h2>
<h2> <a href="/monsters/{{monster.id}}">{{monster.name}}</a> </h2>
<table class="table">
  <tr>
      <th>Limbs</th>    
      <th>Favourite Weather</th>
      <tr>
          <td>
              {{monster.limbs}}
          </td>
          <td>
            {{monster.fav_weather}}
        </td>
      </tr>  
  </table>

{% endblock %}