{% extends 'base.html' %}
{% block content %}
  
<h2>Results</h2>
<table class="table">
  <tr>
    <th>Home Team</th>    
    <th class="vs">vs</th>    
    <th>Away Team</th>    
  </tr>
  {% for game in games %}
  <tr>
    {% if game.home_team.name == game.winning_team.name %}
    <td class="table_body"><a class="table_winner" href="/teams/{{game.home_team.id}}">{{ game.home_team.name }}</a></td>  
    <td class="vs">Beat</td>
    <td class="table_body"><a class ="table_loser" href="/teams/{{game.away_team.id}}">{{game.away_team.name}}</a></td>  
    {% else %}
    <td class="table_body"><a class="table_loser" href="/teams/{{game.home_team.id}}">{{ game.home_team.name }}</a></td>         
    <td class="vs">Beat</td>
    <td class="table_body"><a class ="table_winner" href="/teams/{{game.away_team.id}}">{{game.away_team.name}}</a></td>
    {% endif %}
    
  </tr>
  {% endfor %}
</table>

{% endblock content %}