{% extends 'base.html' %}

{% block content %}

<table class="table">
  <tr>
    <th><a href="/leagues">Leagues</a></th>    
  </tr>
  <tr><td class="table_empty"><br/></td></tr>  
  {% for league in leagues %}
  <tr>
    <td class="table_body"><a href="/leagues/{{league.id}}">{{ league.name }}</td>     
  </tr>
  {% endfor %}
  
  <tr><td class="table_empty"><br/></td></tr>

  <tfoot>
    <tr>
      <td class ="table_body"><a href="/leagues/new">Add New League</a></td>
    </tr>
  </tfoot>
</table>




{% endblock %}