{% extends 'base.html' %}

{% block content %}


<table class="table">
  <tr>
    <th><a href="/leagues">Leagues</a></th>    
  </tr>
  {% for league in leagues %}
  <tr>
    <td class="table_body"><a href="/leagues/{{league.id}}">{{ league.name }}</td>     
  </tr>
  {% endfor %}
  
  <tr>
    <td class="table_cell_open">     
    <form action="/leagues/new"  method="post">    
    <input type="text" id="league_name" name="league_name" autocomplete="off" autofocus="autofocus">
  </td></tr>
    
  
  <tfoot>
    <tr>
      <td class ="table_body"><input type = "submit" value ="Add New League"></td>
    </tr>
</form> 
  </tfoot>
</table>





{% endblock %}
<!-- 
<form action="/leagues/new" method="post">    
    <label for="league_name">Enter league name:</label>
    <input type="text" id="league_name" name="league_name">
    <input type="submit" value="Add!">
</form> -->