{% extends 'base.html' %}

{% block content %}
<h2> <a href="/leagues/{{league.id}}">{{league.name}}</a> </h2>
    <table class="table">
        <tr>
            <td class="table_body">Team</td>    
            <td class="table_body"> Wins</td>    
          </tr>
        {% for team_and_win in teams_and_wins %}
            <tr>
                <td class = "table_body" ><a href="/teams/{{team_and_win[0].id}}"> {{team_and_win[0].name}} </a></td>
                <td class = "table_body">{{team_and_win[1]}}</td>
            </tr>
        {% endfor %}    
        <tr><td class="table_empty"><br/></td></tr>
        
        <tfoot>
          <tr>
            <td class="table_body"><a href="/leagues/{{league.id}}/new">Add New Team</a></td>
          </tr>
        </tfoot>
      </table>


    <footer>
      
      <a href="/leagues/{{league.id}}/edit">Edit League</a>
      <a href="/leagues/{{league.id}}/games">All Games in League</a>
      <a href="/leagues/{{league.id}}/games/new">Play Game</a>
  </footer>
{% endblock %}