{% extends 'base.html' %}

{% block content %}
<h2> <a href="/leagues/{{league.id}}">{{league.name}}</a> </h2>
    <table class="table">
        <tr>
            <th>Team</th>    
            <th>Wins</th>    
          </tr>
        {% for team_and_win in teams_and_wins %}
            <tr>
                <td>
                    <a href="/teams/{{team_and_win[0].id}}"> {{team_and_win[0].name}} </a>
                </td>
                <td>
                    {{team_and_win[1]}}
                </td>
            </tr>
        {% endfor %}    
        </table>

    <a href="/leagues/{{league.id}}/edit">Edit League</a>
    <form action="/leagues/{{league.id}}/delete" method="POST">
        <input type="submit" value="delete"/>
  </form>
    <a href="/{{league.id}}/teams/new">Add Team</a>
    <a href="/leagues/{{league.id}}/games">View All Games in this league</a>
    <a href="/leagues/{{league.id}}/games/new">Play Game</a>

{% endblock %}